p.text-color {
	color: #ffffff;
}
.no-js {
	display: none;
}
.frameContainer {
	position: absolute;
	top: 100px;
	height: 100%;
	width: 100%;
	overflow: auto;
	margin: auto;
	border: 0px;
	display: inline-block; 
	*display: inline; zoom: 1; 
	vertical-align: top;
	align-items: center;
	float: left, right;
}
.pageIFrame {
	position: absolute;
	border: 10px;
	margin: auto;
	/*background-color:#303030;*/
}
.popUpIFrame {
	background: #58595B;
	position: absolute;
	display: none;
	float: right;
}
.hidden {
	/* Both opacity and visibility properties are required. Opacity property ensures proper transition effect is shown.
	 * Visibility property ensures that when this element is hidden, the element earlier overshadowed by this element
	 * becomes receptive to user input. */
	opacity: 0;
	visibility: hidden;
}
.showhidetransitions {
	-webkit-transition: opacity .3s, visibility .3s;
	-moz-transition: opacity .3s, visibility .3s;
	-o-transition: opacity .3s, visibility .3s;
	ms-transition: opacity .3s, visibility .3s;
	transition: opacity .3s, visibility .3s;
}
.blur-bg {
	position: fixed;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center;
}
.blur-bg > img {
	max-width: 100%;
	max-height: 100%;
}
.blur-bg:after {
	position: fixed;
	left: 0;
	top: 0;
	content: "";
	background-color: rgba(0, 0, 0, 0.85);
	height: 100%;
	width: 100%;
}
.right {
	float: right;
}
.left {
	float: left;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/***************************************************/

body {
	background-color: #000;
	font-family: adobe-clean, Helvetica, Arial, sans-serif;
	margin: 0px;
}
html,
body {
	height: 100%;
	overflow: hidden;
}
html,
button,
input,
select,
textarea {
	color: #222;
	font-family: adobe-clean;
}
button:focus {
	outline: none;
	font-family: adobe-clean;
}
i:focus,
i:active,
i:target,
button:active,
button:target {
	outline: none;
	border: none;
}
@font-face {
	font-family: 'lastmile';
	src: url("../resources/lastmileicons/lastmile.eot?nmd4xe");
	src: url("../resources/lastmileicons/lastmile.eot?#iefixnmd4xe") format('embedded-opentype'), url("../resources/lastmileicons/lastmile.woff?nmd4xe") format('woff'), url("../resources/lastmileicons/lastmile.ttf?nmd4xe") format('truetype'), url("../resources/lastmileicons/lastmile.svg?nmd4xe#lastmile") format('svg');
	font-weight: normal;
	font-style: normal;
}
i {
	font-family: 'lastmile';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 1.125rem;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-light {
	color: #fff;
}
.icon-dark {
	color: #000;
}
.icon--sizeXS {
	font-size: 0.75rem;
}
.icon--sizeS {
	font-size: 1.125rem;
}
.icon--sizeM {
	font-size: 1.5rem;
}
.icon--sizeL {
	font-size: 2.25rem;
}

/* The font for download icon looks bigger with 1.125em size. Ideal solution is to replace the font, but that would require a
	major overhaul of all font indices across Reader layout, CEP dialog and Dashboard. Hence, this compromise for now. */
.icon-download--sizeS {
	font-size: 1.0rem;
}

.icon-Analytics:before {
  content: "\e900";
}
.icon-AvgReadTime:before {
  content: "\e901";
  color: #666;
}
.icon-Check:before {
  content: "\e902";
}
.icon-Close:before {
  content: "\e903";
}
.icon-Code:before {
  content: "\e904";
}
.icon-Delete:before {
  content: "\e905";
}
.icon-Desktop:before {
  content: "\e906";
}
.icon-Download:before {
  content: "\e907";
}
.icon-Email:before {
  content: "\e908";
}
.icon-Facebook:before {
  content: "\e909";
}
.icon-first:before {
  content: "\e90a";
}
.icon-Flag:before {
  content: "\e90b";
}
.icon-FullScreen:before {
  content: "\e90c";
}
.icon-FullScreenExit:before {
  content: "\e90d";
}
.icon-Help-Circle:before {
  content: "\e90e";
}
.icon-Info-Circle:before {
  content: "\e911";
}
.icon-last:before {
  content: "\e912";
}
.icon-Mobile:before {
  content: "\e913";
}
.icon-More:before {
  content: "\e914";
}
.icon-next:before {
  content: "\e915";
}
.icon-previous:before {
  content: "\e916";
}
.icon-Reads:before {
  content: "\e917";
  color: #666;
}
.icon-ReadTime:before {
  content: "\e918";
  color: #666;
}
.icon-Search:before {
  content: "\e919";
}
.icon-Share:before {
  content: "\e91a";
}
.icon-Tablet:before {
  content: "\e91b";
}
.icon-Twitter:before {
  content: "\e91c";
}
.icon-UniqueReaders:before {
  content: "\e91d";
  color: #7a7a7a;
}
.icon-ViewGrid:before {
  content: "\e91e";
}
.icon-VolumeMute:before {
  content: "\e91f";
}
.icon-VolumeTwo:before {
  content: "\e920";
}
.icon-ZoomIn:before {
  content: "\e921";
}
.icon-ZoomOut:before {
  content: "\e922";
}

.zoom-controls {
	margin-right: 10px;
	z-index: 9991;
	position: absolute;
	top: 10px;
	right: 0px;
}
.controls-bg {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #1e1e1e;
	opacity: 0.75;
	border-radius: 2px;
}
.lm-Button {
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 6.875rem;
	width: auto;
	height: 2.375rem;
	margin: 0;
	padding: 0rem 0.9375rem;
	vertical-align: top;
	border: 0.0625rem solid;
	-webkit-border-radius: 0.1875rem;
	border-radius: 0.1875rem;
	border-color: #d0d0d0;
	background-color: #fafafa;
	font-family: adobe-clean, Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #4b4b4b;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	font-size: 0.9375rem;
	text-decoration: none;
	text-align: center;
	line-height: 1.25rem;
	cursor: pointer;
	overflow: visible;
}
.lm-Button--primary {
	background-color: #326ec8;
	border: 1px solid #1e5fbe;
	color: #fff;
}
.lm-Button--primary:not(:disabled):not(.is-disabled):focus {
	background-color: #4178cd;
}
.lm-Button--primary:not(:disabled):not(.is-disabled):hover {
	background-color: #4178cd;
}
.lm-Button--primary:not(:disabled):not(.is-disabled).is-selected,
.lm-Button--primary:not(:disabled):not(.is-disabled):active {
	background-color: #1e5fbe;
}
button[is='lm-button'][hidden] {
	display: none;
}
.lm-Button--icon {
	min-width: 38px;
	background-color: transparent;
	color: #fff;
	border: none;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	padding-top: 0.3125rem;
}
.lm-Button--icon:hover {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}

.mobile-button:hover {
  opacity: 0.65;
}

.lm-Button--icon.highlight {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}
.lm-Button--icon.disabled {
	opacity: 0.25;
	cursor: default !important;
	pointer-events: none;
}
.lm-Button--square .lm-Button-icon {
	margin-right: -3px;
}
.navbar-bottom {
	position: fixed;
	bottom: 0px;
	left: 0px;
	background-color: transparent;
	width: 100%;
	height: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 9993;
}
.navbar-bottom > .navbar-content {
	position: absolute;
	float: left;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.navbar-bottom > .navbar-content > .docNameClass {
	float: left;
	padding-left: 10px;
	width: auto;
}
.navbar-bottom > .navbar-content > .docNameClass > .publication-name {
	padding: 13px 0px 0px 0px;
	font-weight: 300;
	font-size: 15px;
	color: #dbdfe2;
}
.navbar-bottom > .navbar-content > .docNameClass > .author-name > a {
	font-size: 13px;
	color: #89949a;
}
.navbar-bottom > .navbar-bg {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #1e1e1e;
	opacity: 0.9;
}
.pagenumber {
	position: absolute;
	left: 50%;
	z-index: 9998;
	font-weight: 300;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.65);
	padding-top: 14px;
	color: #fff;
}
.pagenumber span{
    padding-left: 2px;
    padding-right: 2px;
}
.mobile-pagenumber{
    padding-left: 2px;
    padding-right: 2px;
}

.lm-divider--dark {
	display: inline-block;
	width: 1px;
	height: 20px;
	margin: 10px;
	border-left: 1px solid #343537;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.lm-divider--light {
	display: inline-block;
	width: 1px;
	height: 30px;
	margin: 4px 10px 4px 10px;
	border-left: 1px solid #343537;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#thumbnail-dock-container {
	position: fixed;
	width: 100%;	
	height: 100%;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
	left: 0px;
	overflow: hidden;
} 

#thumbnail-dock-paginated {
	position: fixed;
	bottom: 40px;
	width: 100%;
	height: 110px;
	pointer-events: none;
	transition: all 0.3s ease-in-out;
	left: 0px;
	overflow: visible;
}

#thumbnail-dock-paginated.hide {
	bottom: -110px;
	z-index: 9999;
}
#thumbnail-dock-paginated > .wrapper {
	margin: 0 auto;
	max-width: 100%;
	pointer-events: none;
	overflow: visible;
}
#thumbnail-dock-paginated > .wrapper ul {
	list-style: none;
	padding: 0;
	margin: 0px 0px;
	width: auto;
	text-align: center;
	pointer-events: none;
	overflow: visible;
}

#thumbnail-dock-paginated > .wrapper li {
	display: inline-block;
	position: relative;	
	text-align: center;
	text-align: -webkit-center;
	text-align: -moz-center;
	list-style: none;
	pointer-events: auto;
}

#thumbnail-dock-paginated > .wrapper img {
	max-height: 110px;
	pointer-events: auto;
	margin-left: 2px;
	margin-bottom: 0px;
}

#thumbnail-dock-container img.current {
	border: 2px solid #40dbb2;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

/*-------------------------------------------------------
CSS based page number, like a arrow tooltip on top center
-------------------------------------------------------*/
#thumbnail-dock-paginated [data-page-number] {
	position: relative;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#thumbnail-dock-paginated [data-page-number]:before,
#thumbnail-dock-paginated [data-page-number]:after {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	bottom: 100%;
	left:50%;
}

/* Page number box, positioned on top */
#thumbnail-dock-paginated [data-page-number]:before {
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	margin-bottom: 5px;
	height: 24px;
	width: 34px;
	line-height: 24px;
	vertical-align: middle;
	/* border: 1px solid #808080; */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #1e1e1e;
	color: #f2f2f2;
	content: attr(data-page-number);
	text-align: center;
	font-size: 12px;
	white-space: nowrap;
}

/* Arrow */
#thumbnail-dock-paginated [data-page-number]:after {
	-webkit-transform: translate(-50%, -4%);
	-moz-transform: translate(-50%, -4%);
	-o-transform: translate(-50%, -4%);
	-ms-transform: translate(-50%, -4%);
	transform: translate(-50%, -4%);
	width: 0px;
	margin-bottom: 1px;
	border-top: 5px solid #191919;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: " ";
	font-size: 0px;
	line-height: 0;
	z-index: 1;
}

/* Visible on hover */
#thumbnail-dock-paginated [data-page-number]:hover:before,
#thumbnail-dock-paginated [data-page-number]:hover:after {
	visibility: visible;
	opacity: 0.9;
}

.nextpage-thumbnail {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);	
	right: 20px;
	width: 50px;
	height: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.nextpage-thumbnail > button {
	position: absolute;
	left: 4px;
	pointer-events: auto;
	/*top: 48px;*/
}
.prevpage-thumbnail {
	position: absolute;
	top: 50%;
	left: 20px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.prevpage-thumbnail > button {
	position: absolute;
	right: 4px;
	pointer-events: auto;
	/*top: -50%;*/
}
.nextpage-lm {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-12px);
	-moz-transform: translateY(-12px);
	-o-transform: translateY(-12px);
	-ms-transform: translateY(-12px);
	transform: translateY(-12px);
	width: 25px;
	height: 25px;
	background: transparent;
	cursor: default;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 9004;
}
.nextpage-lm-bottom {
	position: absolute;
	height: 100%;
	display: inline-block;
	background: transparent;
	cursor: default;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.nextpage-lm:hover, .nextpage-lm-bottom:hover {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}
.prevpage-lm {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-12px);
	-moz-transform: translateY(-12px);
	-o-transform: translateY(-12px);
	-ms-transform: translateY(-12px);
	transform: translateY(-12px);
	width: 25px;
	height: 25px;
	background: transparent;
	cursor: default;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 9004;
}
.prevpage-lm-bottom {
	position: absolute;
	height: 100%;
	display: inline-block;
	/*52 is the width of div. 22 actual width and 15 each padding on both sides*/
	-webkit-transform: translateX(-52px);
	-moz-transform: translateX(-52px);
	-o-transform: translateX(-52px);
	-ms-transform: translateX(-52px);
	transform: translateX(-52px);
	background: transparent;
	cursor: default;
	opacity: 0.65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: alpha(opacity=65);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.prevpage-lm:hover, .prevpage-lm-bottom:hover {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}

.nextpage-lm button, .prevpage-lm button {
  position: relative;
  background-color: transparent;
  opacity: 0.65;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 100%;
  height: 100%;
}

.nextpage-lm button i, .prevpage-lm button i {
  vertical-align: middle;
}

/*Fix for touch devices: On touch, the element coninues to be in hover state even after touch ends*/
.nextpage-lm-touch:hover, .prevpage-lm-touch:hover {
  opacity: 0.65;
}

.margin-right {
	margin-right: 10px;
}
.margin-left {
	margin-left: 10px;
}

.navBtnsOnBottomBar {
	position: absolute;
	left: 50%;
	height: 100%;
}

.socialbar-lm {
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
  left: 0px;
  width: 40px;
  height: 80px;
  background: transparent;
  cursor: default;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  filter: alpha(opacity=65);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin-top: -22px;
}

.socialbar-lm > button {
  position: relative;
  border:none;
  cursor: pointer;
  width:38px;
  height: 38px;
  transition: all 0.08s ease-in-out;
  padding-top: 7px;
}

.no-touch .socialbar-lm > button:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  width:48px;
}

/*Spinner*/

.spinner {
	margin-top: 25%;
	margin-left: 50%;
	width: 140px;
	text-align: center;
	overflow: hidden;
}
.spinner > .circle {
	display: inline-block;
	width: 40px;
	height: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	-webkit-box-sizing: border-box;
	border: solid 4px rgba(255, 255, 255, 0.2);
	border-top-color: #fff;
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-ms-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}
.spinner > h6 {
	margin-top: 10px;
	color: #dbdfe2;
}
@-webkit-keyframes lineLoad {
	from {
		left: -140px;
	}
	to {
		left: 0px;
	}
}

/* Standard syntax */

@-webkit-keyframes imgLoad {
	from {
		opacity: 0.2;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
		filter: alpha(opacity=20);
	}
	to {
		opacity: 1;
		-ms-filter: none;
		filter: none;
	}
}
@-webkit-keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spin {
	to {
		-moz-transform: rotate(360deg);
	}
}
@-ms-keyframes spin {
	to {
		-ms-transform: rotate(360deg);
	}
}
@-o-keyframes spin {
	to {
		-o-transform: rotate(360deg);
	}
}
@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.ng-transparent-overlay {
  /* A transparent div that covers the whole screen */
  position: fixed;
  z-index: 9001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.allowSelfScrollOnly {
	/* This class works works as a selector for our js function to prevent outer elements to scroll when this element is scrolled.
	   Code for this behavior is defined in reader.js*/
}

.ng-modal-overlay {
	/* A dark translucent div that covers the whole screen */
	-webkit-transition: all linear 0.2s;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #343537;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
}
/*TODO: check and remove all these base styles*/
/*base*/

  .ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index: 10000;
    position: fixed;
    width: 480px; /* Default */
      
    /* Center the dialog */
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 80px #000;
    box-shadow: 4px 4px 80px #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: auto;
    max-height: 100%;
    max-width: 100%;
  }

 /*base*/
.modal-header {
	height: 70px;
	background-color: #fafafa;
	border-bottom: 1px solid #dbdfe2;
	margin-top: -19px;
	bottom: 0%;
}
/*base*/
.dialogWithShortHead .modal-header {
    height: 60px;
}
/*base*/
.modal-footer {
	height: 70px;
	background-color: #fafafa;
	border-top: 1px solid #dbdfe2;
	text-align: right;
}

/*base*/
.modal-title {
  padding: 24px 20px 0 20px;
	font-size: 22px;
	font-weight: 300;
	color: #424951;
}
/*base*/
.dialogWithShortHead .modal-title {
    padding: 19px 20px 0 20px;
}
/*base*/
.ng-modal-close {
	position: absolute;
	top: 19px;
	right: 20px;
	padding: 5px;
	cursor: pointer;
	font-size: 120%;
	display: inline-block;
	font-weight: bold;
	font-family: 'arial', 'sans-serif';
}
/*base*/
.dialogWithShortHead .ng-modal-close {
    top: 14px;
}
/*base*/
.modal-body {
	padding: 15px 20px 10px 20px;
}
#reportAbuseModal {
	margin-bottom: 0;
}

#reportAbuseModal > .ng-modal-dialog{
	border-radius: 0;
	-webkit-border-radius:0;
}
#reportAbuseModal .modal-header{
	background-color: #fff;
	border-bottom: none;
}
#reportAbuseModal .modal-title{
	font-size: 1.75rem;
	line-height: 1.4;
	color: #000;
}

#reportAbuseModal p.abuse-form-text{
	font-size: .875rem;
    line-height: 18px;
    font-weight: 400;
    color: #444;
    margin-top: 0px;
}
#reportAbuseModal a {
    color: #2A78B8;
    cursor: pointer;
    text-decoration: none;
}
#reportAbuseModal ul.lm-inputGroup{
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 0px;
}
#reportAbuseModal ul.lm-inputGroup>li{
	display: inline-block;
	vertical-align: top;
}
#reportAbuseModal input[type=checkbox]{
	top:3px;
}
#reportAbuseModal input[type=radio], #reportAbuseModal input[type=checkbox]{
	float: left;
	margin-right: 4px;
	width: 20px;
	height: 20px;
}

#reportAbuseModal .input-label{
	font-size: .875rem;
	color: #444;
	line-height: 18px;
	margin: 5px 0;
}
#reportAbuseModal .input-group-label{
	font-size: .875rem;
	color: #444;
	line-height: 1.5;
	font-weight: bold;
}

#reportAbuseModal{
	width: 50%;
	min-width: 280px;
	max-width: 500px;
	position: relative;
}
#reportAbuseModal textarea{
	resize: none !important;
}



.one-third{
	width:100%;
}

li.one-half{
	width:100%%;
}

/*base*/
.doc-details {
	padding: 15px 20px 0px 20px;
	vertical-align: top;
	box-sizing: border-box;
	display: block;
	box-sizing: border-box;
}

/*base*/
.doc-details > div {
	display: inline-block;
	vertical-align: top;
}

/*base*/
.docth {
	height: 100px;
}

/*base*/
.docth-spacer {
  width: 15px;
}
/*base*/
.docth > img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	
	border-style: Solid;
	border-color: #e0e0e0;
	border-width: 1px;
}
.share-dialog-description {
	position: relative;
	top: 0%;
	margin-left: 105px;
	overflow: hidden;
}
.documentInfo {
	width: 290px;
	font-size: 13px;
	padding-left: 10px;
	color: #727272;
	float: left;
	display: inline-block;
	vertical-align: top;
}
/*base*/
.docinfo {
	width: 290px;
	font-size: 13px;
	padding-left: 0px;
	color: #727272;
}
/*base*/
.doctitle {
	color: #444;
	font-size: 16px;
}

/*base*/
@media (max-width: 750px) {
  .modal-header {
    height: 60px;
  }
  .modal-title {
    padding-left: 20px;
    padding-top: 20px;
  }
  .ng-modal-close {
    top: 13px;
  }
}

/*base*/
.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.lm-Textfield {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0.0625rem solid;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 0.625rem;
	min-width: 6.875rem;
	height: 2.375rem;
	width: 22.5rem;
	font-family: adobe-clean, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	font-size: 0.8125rem;
	line-height: 1rem;
	border-color: #d0d0d0;
	background-color: #fff;
	color: #4b4b4b;
}
.lm-Textarea {
	-webkit-appearance: none;
	-moz-appearance: textfield;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 0.0625rem solid;
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 0.625rem;
	font-family: adobe-clean, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	font-size: 0.8125rem;
	line-height: 1rem;
	border-color: #d0d0d0;
	background-color: #fff;
	color: #4b4b4b;
	width: 100%;
}
.lm-input-form {
	padding-bottom: 10px;
}

/*base*/
.lm-form-label {
	color: #959595;
	font-weight: bold;
	font-size: 12px;
  -webkit-text-size-adjust: none;
	padding-bottom: 4px;
}
.lm-InputGroup {
	position: relative;
	display: inline-table;
	vertical-align: top;
	border-collapse: separate;
}
.lm-InputGroup--block {
	display: table;
	width: 100%;
}
.lm-InputGroup-button,
.lm-InputGroup-input {
	display: table-cell;
}
.lm-InputGroup-input {
	position: relative;
	float: left;
	width: 100%;
	margin-bottom: 0;
}
.lm-InputGroup-input.is-invalid,
.lm-InputGroup-input:invalid,
.lm-InputGroup-input:focus {
	z-index: 1;
}
.lm-InputGroup-button {
	width: 1%;
	vertical-align: middle;
	position: relative;
	font-size: 0;
	white-space: nowrap;
}
.lm-InputGroup-button > .lm-Button {
	-webkit-border-radius: 0;
	border-radius: 0;
	position: relative;
}
.lm-InputGroup-button > .lm-Button:focus,
.lm-InputGroup-button > .lm-Button:active {
	z-index: 2;
}
.lm-InputGroup-button:first-child > .lm-Button {
	margin-right: -0.0625rem;
}
.lm-InputGroup-button:last-child > .lm-Button {
	margin-left: -0.0625rem;
}
.lm-InputGroup-button + .lm-InputGroup-button > .lm-Button {
	margin-right: -0.0625rem;
}
.lm-InputGroup-input + .lm-InputGroup-button > .lm-Button {
	margin-left: -0.0625rem;
}
.lm-InputGroup-button:first-child > .lm-Button {
	-webkit-border-radius: 0.1875rem 0 0 0.1875rem;
	border-radius: 0.1875rem 0 0 0.1875rem;
}
.lm-InputGroup-button:last-child > .lm-Button {
	-webkit-border-radius: 0 0.1875rem 0.1875rem 0;
	border-radius: 0 0.1875rem 0.1875rem 0;
}
.lm-select {
	min-width: 220px;
	margin: 0;
	border: 0.0625rem solid;
	-webkit-border-radius: 0.1875rem;
	border-radius: 0.1875rem;
	width: 100%;
	height: 2.375rem;
	text-align: left;
	line-height: 2.25rem;
	color: #4b4b4b;
	border-color: #d0d0d0;
	background: #fafafa;
	font-family: adobe-clean, Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-style: normal;
	color: #4b4b4b;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	font-size: 0.9375rem;
	text-decoration: none;
	text-align: center;
	line-height: 1.25rem;
	cursor: pointer;
}
.lm-select:hover {
	background: #fff;
}

/*base*/
.embedStartPage-select {
	position:absolute;
	top: -3px;
	width: 50px;
	margin: 0;
	border: 0.0625rem solid;
	-webkit-border-radius: 0.1875rem;
	border-radius: 0.1875rem;
	height: 1.75rem;
	text-align: left;
	line-height: 1.5rem;
	color: #4b4b4b;
	border-color: #d0d0d0;
	background: #fafafa;
	font-family: adobe-clean, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #4b4b4b;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	font-size: 0.9375rem;
	text-decoration: none;
	text-align: center;
	line-height: 1.25rem;
	cursor: pointer;
}

/*base*/
.embedStartPage-select:hover {
	background: #fff;
}
/*base*/
#embedDisableFullscreen {
	/*Required parameters to align checkbox to label text and left border*/
	margin-left: 0px;
	margin-right: 0.3rem;
	margin-top: 0px;
	vertical-align: middle;
	width: 0.9rem;
	height: 0.9rem;
}
.lm-Button--facebook {
	background: #4b68b7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4b68b7), color-stop(100%, #3b569e));
	background: -moz-linear-gradient(top, #4b68b7 0%, #3b569e 100%);
	background: -webkit-linear-gradient(top, #4b68b7 0%, #3b569e 100%);
	background: -o-linear-gradient(top, #4b68b7 0%, #3b569e 100%);
	background: -ms-linear-gradient(top, #4b68b7 0%, #3b569e 100%);
	background: linear-gradient(to bottom, #4b68b7 0%, #3b569e 100%);
	color: #fff !important;
	border-color: #354c8c;
	font-size: 0.8125rem !important;
	padding-top: 4px;
}
.lm-Button--facebook:hover {
	background: #3c5095;
	background: -moz-linear-gradient(top, #3c5095 0%, #2a3c78 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #3c5095), color-stop(100%, #2a3c78));
	background: -webkit-linear-gradient(top, #3c5095 0%, #2a3c78 100%);
	background: -ms-linear-gradient(top, #3c5095 0%, #2a3c78 100%);
	background: -o-linear-gradient(top, #3c5095 0%, #2a3c78 100%);
	background: linear-gradient(to bottom, #3c5095 0%, #2a3c78 100%);
}
/*base*/
#copyURLButton {
	float: right;
}
/*base*/
#socialShareModal .lm-InputGroup {
  width: 100%;
}

/*------------------------
CSS Tooltips on top center
--------------------------*/

[data-tooltip-top] {
	position: relative;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Hidden by default */

[data-tooltip-top]:before,
[data-tooltip-top]:after {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

/* Tooltip box, positioned on top */

[data-tooltip-top]:before {
	position: absolute;
	bottom: 90%;
    -webkit-transform: translate(-45%, 0%);
    -moz-transform: translate(-45%, 0%);
    -o-transform: translate(-45%, 0%);
    -ms-transform: translate(-45%, 0%);
    transform: translate(-45%, 0%);
	margin-bottom: 5px;
	padding: 0px 10px;
	min-width: 50px;
	height: 30px;
	line-height: 32px;
	vertical-align: middle;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #191919;
	color: #f2f2f2;
	content: attr(data-tooltip-top);
	text-align: center;
	font-size: 12px;
	white-space: nowrap;
}

/* Tooltip arrow */

[data-tooltip-top]:after {
	position: absolute;
	bottom: 90%;
	left: 18px;
	width: 0px;
	border-top: 5px solid #191919;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: " ";
	font-size: 0px;
	line-height: 0;
}

/* Visible on hover */

[data-tooltip-top]:hover:before,
[data-tooltip-top]:hover:after {
	visibility: visible;
	opacity: 0.9;
}

/*------------------------
CSS Tooltips on top left
--------------------------*/

[data-tooltip-topLeft] {
	position: relative;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Hidden by default */

[data-tooltip-topLeft]:before,
[data-tooltip-topLeft]:after {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

/* Tooltip box, positioned on top-left */

[data-tooltip-topLeft]:before {
	position: absolute;
	bottom: 90%;
    -webkit-transform: translate(-70%, 0%);
    -moz-transform: translate(-70%, 0%);
    -o-transform: translate(-70%, 0%);
    -ms-transform: translate(-70%, 0%);
    transform: translate(-70%, 0%);
	margin-bottom: 5px;
	padding: 0px 10px;
	min-width: 50px;
	height: 30px;
	line-height: 32px;
	vertical-align: middle;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #191919;
	color: #f2f2f2;
	content: attr(data-tooltip-topLeft);
	text-align: center;
	font-size: 12px;
	white-space: nowrap;
}

/* Tooltip arrow */

[data-tooltip-topLeft]:after {
	position: absolute;
	bottom: 90%;
	left: 14px;
	width: 0px;
	border-top: 5px solid #191919;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: " ";
	font-size: 0px;
	line-height: 0;
}

/* Visible on hover */

[data-tooltip-topLeft]:hover:before,
[data-tooltip-topLeft]:hover:after {
	visibility: visible;
	opacity: 0.9;
}

/*------------------------
CSS Tooltips on bottom center
--------------------------*/

[data-tooltip-bottom] {
	position: relative;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Hidden by default */

[data-tooltip-bottom]:before,
[data-tooltip-bottom]:after {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

/* Tooltip box, positioned on bottom */

[data-tooltip-bottom]:before {
	position: absolute;
	top: 90%;
    -webkit-transform: translate(-45%, 0%);
    -moz-transform: translate(-45%, 0%);
    -o-transform: translate(-45%, 0%);
    -ms-transform: translate(-45%, 0%);
    transform: translate(-45%, 0%);
	margin-top: 5px;
	padding: 0px 10px;
	min-width: 50px;
	height: 30px;
	line-height: 32px;
	vertical-align: middle;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #191919;
	color: #f2f2f2;
	content: attr(data-tooltip-bottom);
	text-align: center;
	font-size: 12px;
	white-space: nowrap;
}

/* Tooltip arrow */

[data-tooltip-bottom]:after {
	position: absolute;
	top: 90%;
	left: 18px;
	width: 0px;
	border-bottom: 5px solid #191919;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: " ";
	font-size: 0px;
	line-height: 0;
}

/* Visible on hover */

[data-tooltip-bottom]:hover:before,
[data-tooltip-bottom]:hover:after {
	visibility: visible;
	opacity: 0.9;
}

/*------------------------
CSS Tooltips on bottom left
--------------------------*/

[data-tooltip-bottomLeft] {
	position: relative;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Hidden by default */

[data-tooltip-bottomLeft]:before,
[data-tooltip-bottomLeft]:after {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

/* Tooltip box, positioned on bottom-left */

[data-tooltip-bottomLeft]:before {
	position: absolute;
	top: 90%;
    -webkit-transform: translate(-70%, 0%);
    -moz-transform: translate(-70%, 0%);
    -o-transform: translate(-70%, 0%);
    -ms-transform: translate(-70%, 0%);
    transform: translate(-70%, 0%);
	margin-top: 5px;
	padding: 0px 10px;
	min-width: 50px;
	height: 30px;
	line-height: 32px;
	vertical-align: middle;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #191919;
	color: #f2f2f2;
	content: attr(data-tooltip-bottomLeft);
	text-align: center;
	font-size: 12px;
	white-space: nowrap;
}

/* Tooltip arrow */

[data-tooltip-bottomLeft]:after {
	position: absolute;
	top: 90%;
	left: 18px;
	width: 0px;
	border-bottom: 5px solid #191919;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: " ";
	font-size: 0px;
	line-height: 0;
}

/* Visible on hover */

[data-tooltip-bottomLeft]:hover:before,
[data-tooltip-bottomLeft]:hover:after {
	visibility: visible;
	opacity: 0.9;
}
#ToggleThumbnailSmallScr {
	z-index: 18000;
}
@media (max-width: 750px) {
	.pagenumber.mobile-pagenumber {
		left: 48px;
	}
	#ToggleThumbnailSmallScr {
		position: absolute;
		left: 0px;
	}
	.docNameClass.docNameClass-mobile {
		display: none;
	}
}
@media (min-width: 751px) {
	.docNameClass.docNameClass-mobile {
		margin-left: 0px;
	}
	.center-div-if-medium {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
	}
	.pagenumber.mobile-pagenumber {
		position: static;
	}
	.pagenumber.mobile-pagenumber,
	#ToggleThumbnailSmallScr {
		display: inline-block;
	}
	.center-div-if-medium #ToggleThumbnailSmallScr {
		padding-left: 0px;
	}
}
#moreOptions {
	position: absolute;
	bottom: 40px;
	right: 0px;
	display: inline-block;
    /*to adjust the width according to length of text in diff languages we are setting width :auto and nowrap*/
    width: auto;
    white-space: nowrap;
}
#moreOptions span{
    padding-right: 15px;
}
#moreOptions ul {
	margin: 0px;
	padding: 0px;
	background-color: #1e1e1e;
	opacity: 0.75;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #808080;
	z-index: 20000;
	-webkit-transform: translate(-5px, -5px);
	-moz-transform: translate(-5px, -5px);
	-o-transform: translate(-5px, -5px);
	-ms-transform: translate(-5px, -5px);
	transform: translate(-5px, -5px);
}
#moreOptions ul:before {
	content: "";
	display: block;
	position: absolute;
	bottom: -8px;
	right: 11px;
	width: 0;
	border-width: 8px 8px 0;
	border-style: solid;
	border-color: #808080 transparent;
}
#moreOptions ul:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -6px;
	right: 13px;
	width: 0;
	border-width: 6px 6px 0;
	border-style: solid;
	border-color: #1e1e1e transparent;
}
#moreOptions li {
	list-style-type: none;
	z-index: 10000;
}

#moreOptions button {
	width: 100%;
	font-size: 13px;
	font-family: adobe-clean;
	padding: 0;
	text-align: left;
	display: inline-block;
}

#moreOptions i {
	vertical-align: middle;
	line-height: 42px;
	padding: 0 0 0 10px;
}

.button-right {
	padding-left: 8px;
}



/*base*/
.shareDialogSocialButton {
    -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid;
  padding: 8px;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  opacity: 1;
}

/*base*/
#shareSocialtwitter {
  background-color: #25c2f8;
  border-color: #0299c1;
}

/*base*/
#shareSocialtwitter:hover {
  background-color: #3dd1f9;
  border-color: #0299c1;
}

/*base*/
#shareSocialtwitter:active {
  background-color: #0bb1dd;
  border-color: #0299c1;
}

/*base*/
#shareSocialFb {
  background-color: #3d579a;
  border-color: #051959;
}

/*base*/
#shareSocialFb:hover {
  background-color: #506fb5;
  border-color: #051959;
}

/*base*/
#shareSocialFb:active {
  background-color: #2d3b7c;
  border-color: #2d3b7c;
}

/*base*/
#shareSocialEmail {
  background-color: #f2f2f2;
  border-color: #d8d8d8;
}

/*base*/
#shareSocialEmail:hover {
  background-color: #ffffff;
  border-color: #d8d8d8;
}

/*base*/
#shareSocialEmail:active {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
}

/*base*/
.EmailButton {
  opacity: 0.65;
  width: 18px;
  height: 18px;
}

#embed-branding-link .branding-default,
#embed-branding-link:hover .branding-on-hover {
    display: block;
}

#embed-branding-link .branding-on-hover,
#embed-branding-link:hover .branding-default {
    display: none;
}

/*base*/
.embedSizeOptions{
	background-color:#999;
	display:inline-block;
    margin-left: 20px;
}

/*base*/
.selectedEmbedSizeOptionDefaultSizes{
	background-color:#4d4d4d;
	border: 2px solid blue;
}

/*base*/
.selectedEmbedSizeOptionCustomSizes{
	border: 2px solid blue;
}

/*base*/
#embedSizeWarning{
	font-size: 13pt;
	display: none;
	color: red;
}

/*base*/
#embedOptionsHideShow{
	cursor: pointer;
	font-size: 13pt;
	font-family: adobe-clean, Helvetica, Arial, sans-serif;
	font-weight: 300;
}

/*base*/
#embedStyleOptions{
	background-color: #EEE;
    
}

/*base*/
#embedSizeOpt1{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: 12px;
	height: 10px;
	cursor: pointer;
	position: absolute;
	left: 45px;
}

/*base*/
#embedSizeOpt2{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: 20px;
	height: 18px;
	cursor: pointer;
	position: absolute;
	left: 67px;
}

/*base*/
#embedSizeOpt3{
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: 28px;
	height: 26px;
	cursor: pointer;
	position: absolute;
	left: 98px;
}

/*base*/
#embedSizeOpt4{
	display: inline-block;
	position: absolute;
	left: 138px;
}

/*base*/
#embedCustomWidth{
	width: 35px;
	line-height: 1.5em;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
    margin-left: 20px;
}

/*base*/
#embedCustomHeight{
	width: 35px;
	line-height: 1.5em;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	position: absolute;
    margin-left: 6px;
}

/*base*/
#embedCodeTextHolder{
	position: relative;
	font-size: 13pt;
	margin: 0px;
	color: #424951;
	font-weight: 300;
}
/*base*/
#embedCodeText{
	color: #424951;
	font-weight: 300;
	font-size: 11pt;
}
/*base*/
#copyEmbedCodeBtn{
	position: relative;
	font-size: 13pt;
	margin: 0px;
	color: #424951;
	float: right;
	color: blue;
	cursor: pointer;
	font-weight: 300;
}
#embedDialogStart span+select{
    margin-left: 10px;
}

/*base*/
#embedCodeHolderDiv{
	width: 650px;
	height: 60px;
	border: 1px solid #777;
	background-color: white;
	word-wrap: break-word;
	overflow-y: scroll;
}

@media (max-width: 199px) {
  #ReadNowOverlay, .embed-branding-overlay {
    visibility: hidden;
  }
}

@media (min-width: 200px) {
  #ReadNowOverlay, .embed-branding-overlay {
    visibility: initial;
  }
}

@media (max-width: 750px){
  .one-third{width: 100%;}	
}

@media (min-width: 751px){
  .one-third{width: 32%;}
}

@media (max-width: 600px){
    .one-half{
        width: 100%;
    }
}

@media (min-width: 600px){
    .one-half{
        width: 48%;
    }
}

/*base*/
.embedDialogText {
	font-size: 13pt;
	font-weight: 300;
}



/*This section is required to ensure tooltip text is not hidden behind more options dialog
  position has to be mentioned explicitly for z-index to take effect.*/
.nav-button-group-high-z-order {
	position: relative;
	z-index: 20002;
}
.nav-button-group-low-z-order {
	position: relative;
	z-index: 200001;
}

/*base*/
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}


.warning{
	color: red;
	font-size: 100%;
	vertical-align: baseline;
	font-size: .875rem;
}

.full-width{
	width: 100%;
	padding-right: 30px;
	padding-left: 30px;
	margin-bottom: 5px;
	font-size: .875rem;
}

.no-rounded-corner{
	border-radius: 0px;
}
.bold{
	font-weight: bold;
}

/* CSS for language menu dropdown added */

.language-dropdown-content{
    line-height:1;
}

.dropbtn {
    border: none;
    cursor: pointer;
    display: inline-block;
    border-top: none;
    padding: 0 12px 0 0;
    -webkit-tap-highlighxt-color: rgba(0, 0, 0, .4);
    color:#ffffff;
    
    position:relative;
   
   
    font-size: 13px;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

.language-dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    bottom:100%;
    overflow: auto;
    box-shadow: rgba(0,0,0,0.2);
    border-radius: 5px;
}

.language-dropdown-content a {
    
    text-decoration: none;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 13px;
    color: white;
    opacity:0.65;
}

.langBox{
    display:table;
    width:100px;
}

.langBox span{
    width:25%;
    color: white;
    opacity:1;
}

.langBox a{
    display:table-cell;
    width:75%;
    line-height:1.6;   
}

.language-dropdown-content a:hover{
  color:white;
  opacity:1;
}

#move-center{
    padding-left:8px;
}

.show {display:block;}

#readNowTable{
    display: table-cell;
    vertical-align: middle;
    padding-left: 50%;
}
#readNowTable span{
     -webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

td>div, .gridcell
{
	width: 200px;
	height: 200px;
	border: 1px;
	border-style: solid;
	line-height: 200px;
	text-align: center;
	background-color: white;
}

.gridimg
{
	max-width:100%;
    max-height:100%;
    vertical-align: middle;
}
.thumbnail-container
{
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
}
.thumbnail-container>img
{
	max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

.thumbnail-dock-container
{
	position: absolute;
	bottom: 0px;
	display: inline-block;

}
.wrapper, .inwrapper {
	margin: 0 auto;
	max-width: 100%;
	pointer-events: none;
	overflow: visible;
	display: inline-block;
	background-color: red;
}
/*CSS langauge menu End  */

.sideImg
{
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
}

.side-panel
{
	float: right;
}